* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
i {
  cursor: pointer;
}
nav {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  transform: translateY(-100%);
}
nav.open {
  transform: translateY(0);
}
nav .close {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  border: 2px solid white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
nav a {
  color: #eee;
  text-decoration: none;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 80px;
  transition: 0.5s;
}
nav a:hover {
  background-color: rgb(0 0 0 / 50%);
}
nav .close:hover {
  border-color: indianred;
  color: indianred;
}
